trigger:
- master

variables:
  NAME: wgpu

jobs:

- job: Build
  strategy:
    matrix:
      Linux:
        vmImage: ubuntu-16.04
      MacOS:
        vmImage: macOS-10.14
        MACOSX_DEPLOYMENT_TARGET: '10.13'
      Windows:
        vmImage: vs2017-win2016
  pool:
    vmImage: $(vmImage)
  steps:
  - task: UsePythonVersion@0
    displayName: Select Python 3.6
    inputs:
      versionSpec: '3.6'
  - task: Bash@3
    displayName: Install development requirements
    inputs:
      targetType: inline
      script: |
        set -ex
        python -m pip install -U pip
        pip install -U -r dev-requirements.txt
  - task: Bash@3
    displayName: Restore WGPU native binary
    inputs:
      targetType: inline
      script: |
        set -ex
        python download-wgpu-native.py
  - task: Bash@3
    displayName: Lint (black)
    inputs:
      targetType: inline
      script: |
        set -ex
        black --check .
  - task: Bash@3
    displayName: Lint (flake8)
    inputs:
      targetType: inline
      script: |
        set -ex
        flake8
  - task: Bash@3
    displayName: Build wheel and install in development mode
    inputs:
      targetType: inline
      script: |
        set -ex
        python setup.py develop
        python setup.py bdist_wheel
  - task: Bash@3
    displayName: Test
    inputs:
      targetType: inline
      script: |
        set -ex
        pytest --disable-warnings --junit-xml=results.xml || true

        # Fail the task if results.xml was not created
        if [[ ! -f results.xml ]]
        then
          echo "##vso[task.logissue type=error]No test results were found"
          exit 1
        fi
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: results.xml
      mergeTestResults: true
      failTaskOnFailedTests: true
      testRunTitle: Test $(vmImage)
  - task: Bash@3
    displayName: Test (packaged)
    inputs:
      targetType: inline
      script: |
        set -ex
        python setup.py develop --uninstall
        rm -rf ./wgpu ./build ./egg-info
        pip install dist/*.whl
        pytest --disable-warnings --junit-xml=results-packaged.xml || true

        # Fail the task if results-packaged.xml was not created
        if [[ ! -f results-packaged.xml ]]
        then
          echo "##vso[task.logissue type=error]No test results were found"
          exit 1
        fi
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: results-packaged.xml
      mergeTestResults: true
      failTaskOnFailedTests: true
      testRunTitle: Test $(vmImage) (packaged)
  - task: PublishBuildArtifacts@1
    displayName: Publish wheels
    inputs:
      pathtoPublish: dist
      artifactName: wheels

- job: Release
  dependsOn: Build
  #condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'master'))
  pool:
    vmImage: ubuntu-16.04
  steps:
  - task: UsePythonVersion@0
    displayName: Select Python 3.6
    inputs:
      versionSpec: '3.6'
  - task: Bash@3
    displayName: Check git tag
    inputs:
      targetType: inline
      script: |
        set -x
        #TAGS=$(git describe --tags)
        TAGS=testtest
        echo "##vso[task.setvariable variable=TAGS]$TAGS"
  - task: DownloadBuildArtifacts@0
    displayName: Download wheels
    condition: and(succeeded(), ne(variables['TAGS'], ''))
    inputs:
      artifactName: wheels
      downloadPath: .
  - task: GithubRelease@1
    displayName: GitHub Release
    condition: and(succeeded(), ne(variables['TAGS'], ''))
    inputs:
      gitHubConnection: github.com_almarklein
      repositoryName: 'almarklein/wgpu-py'
      assets: 'wheels/*.whl'
      isDraft: true
      addChangeLog: false
      assetUploadMode: replace
  - task: Bash@3
    displayName: Install twine
    condition: and(succeeded(), ne(variables['TAGS'], ''))
    inputs:
      targetType: inline
      script: |
        set -ex
        python -m pip install -U pip setuptools
        python -m pip install -U wheel twine
  - task: TwineAuthenticate@1
    displayName: Authenticate with PyPI
    condition: and(succeeded(), ne(variables['TAGS'], ''))
    inputs:
      pythonUploadServiceConnection: pypi
  - task: Bash@3
    displayName: Upload wheels to PyPI
    condition: and(succeeded(), ne(variables['TAGS'], ''))
    inputs:
      targetType: inline
      script: |
        set -ex
        twine upload -r "pypi" --config-file $(PYPIRC_PATH) --non-interactive wheels/*.whl
