# For unit tests, linting, etc.
requests
numpy
pytest
black
flake8
flake8-black
pep8-naming
sphinx
# cffi>=1.15.0rc2

# Building wheels
wheel
setuptools
twine
auditwheel; sys_platform == 'linux'
cibuildwheel
