black==19.10b0
pytest
flake8
pep8-naming
requests
setuptools
sphinx
wheel
twine
numpy
python-shader>=0.4.0
auditwheel; sys_platform == 'linux'
pyinstaller[develop] @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
