name: Screenshots

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  screenshots:
    name: Regenerate screenshot
    timeout-minutes: 10
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install llvmpipe and lavapipe for offscreen canvas
      run: |
        sudo apt-get update -y -qq
        sudo add-apt-repository ppa:oibaf/graphics-drivers -y
        sudo apt-get update -y -qq
        sudo apt install -y libegl1-mesa libgl1-mesa-dri libxcb-xfixes0-dev mesa-vulkan-drivers
    - name: Install dev dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U -e .[screenshots]
    - name: Regenerate screenshots
      run: |
        pytest -v --regenerate-screenshots -k test_examples_screenshots examples
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: screenshots
        path: examples/screenshots
